:host {
    background-color: white;
    display: none;
    overflow: hidden;
    border-radius: 1%;
    margin: 0.4rem;
    font-family: 'Just Another Hand', cursive;
}

:host([type="i-type"]),
:host([type="600"]),
:host([type="sx-70"]),
:host([type="go"]),
:host([type="mini"]),
:host([type="square"]),
:host([type="wide"]) {
    display: inline-block;
}

:host([type="i-type"]),
:host([type="600"]),
:host([type="sx-70"]),
:host([type="go"]) {
    aspect-ratio: 0.82;
}

:host([type="mini"]) {
    aspect-ratio: 0.63;
}

:host([type="square"]) {
    aspect-ratio: 0.84;
}

:host([type="wide"]) {
    aspect-ratio: 1.26;
}

::slotted(:not([slot=text])) {
    width: 100%;
    height: auto;
    border-radius: 1%;

    color: white;
    font-family: sans-serif;
    font-size: 1rem;
    text-align: center;
}

:host(:not([unstyled])) ::slotted(:not([slot=text])) {
    filter: blur(0.3px) brightness(120%) contrast(90%) grayscale(2%) saturate(105%);
}

:host([type="i-type"])> ::slotted(:not([slot=text])),
:host([type="600"])> ::slotted(:not([slot=text])),
:host([type="sx-70"])> ::slotted(:not([slot=text])),
:host([type="go"])> ::slotted(:not([slot=text])),
:host([type="square"])> ::slotted(:not([slot=text])) {
    aspect-ratio: 1;
}

:host([type="mini"])> ::slotted(:not([slot=text])) {
    aspect-ratio: 0.74;
}

:host([type="wide"])> ::slotted(:not([slot=text])) {
    aspect-ratio: 1.6;
}

slot:not([name=text]) {
    background-color: #120051;
    border-radius: 1.1%;
    display: flex;
}

:host([type="i-type"])>slot:not([name=text]),
:host([type="600"])>slot:not([name=text]),
:host([type="sx-70"])>slot:not([name=text]),
:host([type="go"])>slot:not([name=text]) {
    margin-block-start: 5%;
    margin-inline-start: 5%;
    width: 90%;
    aspect-ratio: 1;
}

:host([type="mini"])>slot:not([name=text]) {
    margin-block-start: 6%;
    margin-inline-start: 6%;
    width: 88%;
    aspect-ratio: 0.74;
}

:host([type="square"])>slot:not([name=text]) {
    margin-block-start: 9%;
    margin-inline-start: 6%;
    width: 88%;
    aspect-ratio: 1;
}

:host([type="wide"])>slot:not([name=text]) {
    margin-block-start: 6%;
    margin-inline-start: 4%;
    width: 92%;
    aspect-ratio: 1.6;
}

::slotted([slot=text]) {
    color: black;
    font-family: inherit;
    font-size: inherit;
    text-align: center;
}

:host([type="i-type"])> ::slotted([slot=text]),
:host([type="600"])> ::slotted([slot=text]),
:host([type="sx-70"])> ::slotted([slot=text]),
:host([type="go"])> ::slotted([slot=text]) {
    margin-block-start: 2%;
    margin-inline-start: 5%;
    width: 90%;
}

:host([type="mini"])> ::slotted([slot=text]) {
    margin-block-start: 2%;
    margin-inline-start: 6%;
    width: 88%;
}

:host([type="square"])> ::slotted([slot=text]) {
    margin-block-start: 2%;
    margin-inline-start: 6%;
    width: 88%;
}

:host([type="wide"])> ::slotted([slot=text]) {
    margin-block-start: 2%;
    margin-inline-start: 4%;
    width: 92%;
}